.header-area {
    width: 100%;
}

.header-row-1 {
    height: 40px;
    border-bottom: 1px solid rgba(18,18,18,0.2);
}

.header-row-2 {
    background: #FFD230;
    height: 62px;
    border-bottom: 1px solid rgba(18,18,18,0.2);
}

.header-row-3 {
    background: #FFD230;
    border-bottom: 1px solid rgba(18,18,18,0.2);
    height: 40px;
}

.header-row-4 {
    background: black;
    height: 40px;
    border-bottom: 1px solid rgba(18,18,18,0.2);
}