.info-text {
    display: flex;
    border-bottom: 1px solid #dbdbdb;
    justify-content: space-between;
    padding-bottom: 10px;
}

.main-image {
    width: 645px;
    height: 361px;
    margin-top: 20px;
}